<div class="page_wrapper">
	<div class="camera">
    <video [src]="videosrc" *ngIf="videoShow" autoplay></video>
	</div>
	<div class="card_wrapper">
		<div class="custom_card">
			<div class="card_content_wrapper">
				<div class="card_image"></div>
				<h2>400g lamsvlees<br><span>test</span></h2>
				<img src="../../assets/waste-bin.svg" />
			</div>
		</div>
		<div class="custom_card">
			<div class="card_content_wrapper">
				<div class="card_image"></div>
				<h2>400g lamsvlees<br><span>test</span></h2>
				<img src="../../assets/waste-bin.svg" />
			</div>
		</div>
		<div class="custom_card">
			<div class="card_content_wrapper">
				<div class="card_image"></div>
				<h2>400g lamsvlees<br><span>test</span></h2>
				<img src="../../assets/waste-bin.svg" />
			</div>
		</div>
		<div class="custom_card">
			<div class="card_content_wrapper">
				<div class="card_image"></div>
				<h2>400g lamsvlees<br><span>test</span></h2>
				<img src="../../assets/waste-bin.svg" />
			</div>
		</div>
		<div class="custom_card">
			<div class="card_content_wrapper">
				<div class="card_image"></div>
				<h2>400g lamsvlees<br><span>test</span></h2>
				<img src="../../assets/waste-bin.svg" />
			</div>
		</div>
		<div class="custom_card">
			<div class="card_content_wrapper">
				<div class="card_image"></div>
				<h2>400g lamsvlees<br><span>test</span></h2>
				<img src="../../assets/waste-bin.svg" />
			</div>
		</div>
	</div>
	<div class="navigation_bottom">
		<h1>Total: 35.50$</h1>
		<button mat-raised-button>SCAN</button>
	</div>
</div>
