/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/purple-green";

html, body, .ng-scope {
  height: 100%;
  font-family: helvetica;
}
html{
	background-color: #EDEDED;
}
body{
	margin: 0;
}