/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/purple-green";

@font-face{
	font-family: robotoRegular;
    src: url("./assets/Roboto/Roboto-Regular.ttf");
}


html, body, .ng-scope {
  height: 100%;
  font-family: robotoRegular;
}
html{
	background-color: #F6F8F9;
}
body{
	margin: 0;
}

.cdk-global-overlay-wrapper {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 100;
  background: white;
}

.cdk-overlay-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
